@{
    //Layout = "~/Views/Shared/_Layout2.cshtml";
    //Layout = null;
}
@using FirstWebProject.Models
@model IEnumerable<Book>
@{
    ViewBag.Title = "Books store";
}
<div>
    <h3>Books shop</h3>
    <table>
        <tr>
            <td><p>Name</p></td>
            <td><p>Author</p></td>
            <td><p>Price</p></td>
        </tr>
        @* @foreach (var book in ViewBag.Books)*@
        @foreach (Book book in Model)
        {
            <tr>
                <td><p>@book.Name</p></td>
                <td><p>@book.Author</p></td>
                <td><p>@book.Price</p></td>
                <td><p><a href="/Home/Buy/@book.Id">Buy</a></p></td>
            </tr>
        }
    </table>
</div>

@Html.Action("GetList")

@*@Html.Partial("GetList")*@

@*@{ Html.RenderPartial("GetList");}*@

@section Footer
    {
    <h4> Andrii Babenko. 2021.</h4>
}